<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>Photo</key>
		<string>malone-james.png</string>
		<key>Position</key>
		<string>President</string>
		<key>Email</key>
		<string>jamesm27@vt.edu</string>
		<key>Phone</key>
		<string>(703) 509-1259</string>
		<key>Name</key>
		<string>Malone, James</string>
	</dict>
	<key>02</key>
	<dict>
		<key>Photo</key>
		<string>rubright-colin.png</string>
		<key>Position</key>
		<string>Vice President</string>
		<key>Email</key>
		<string>cmr27@vt.edu</string>
		<key>Phone</key>
		<string>(443) 878-8495</string>
		<key>Name</key>
		<string>Rubright, Colin</string>
	</dict>
	<key>03</key>
	<dict>
		<key>Photo</key>
		<string>monahan-alex.png</string>
		<key>Position</key>
		<string>Treasurer</string>
		<key>Email</key>
		<string>alexm91@vt.edu</string>
		<key>Phone</key>
		<string>(540) 850-1101</string>
		<key>Name</key>
		<string>Monahan, Alex</string>
	</dict>
	<key>04</key>
	<dict>
		<key>Photo</key>
		<string>ekasi-otu-edi.png</string>
		<key>Position</key>
		<string>Secretary</string>
		<key>Email</key>
		<string>ediotu@vt.edu</string>
		<key>Phone</key>
		<string>(571) 388-0071</string>
		<key>Name</key>
		<string>Ekasi-Otu, Edi</string>
	</dict>
	<key>05</key>
	<dict>
		<key>Photo</key>
		<string>fearing-brandon.png</string>
		<key>Position</key>
		<string>Webmaster</string>
		<key>Email</key>
		<string>bfearing@vt.edu</string>
		<key>Phone</key>
		<string>(757) 390-0856</string>
		<key>Name</key>
		<string>Fearing, Brandon</string>
	</dict>
	<key>06</key>
	<dict>
		<key>Photo</key>
		<string>baylis-alexander.png</string>
		<key>Position</key>
		<string>Director of Corporate Relations</string>
		<key>Email</key>
		<string>zander@vt.edu</string>
		<key>Phone</key>
		<string>(302) 893-6572</string>
		<key>Name</key>
		<string>Baylis, Zander</string>
	</dict>
	<key>07</key>
	<dict>
		<key>Photo</key>
		<string>alexander-cory.png</string>
		<key>Position</key>
		<string>Director of Fundraising</string>
		<key>Email</key>
		<string>corya92@vt.edu</string>
		<key>Phone</key>
		<string>(757) 927-6714</string>
		<key>Name</key>
		<string>Alexander, Cory</string>
	</dict>
	<key>08</key>
	<dict>
		<key>Photo</key>
		<string>shutt-matthew.png</string>
		<key>Position</key>
		<string>Director of Student Relations</string>
		<key>Email</key>
		<string>mpshutt@vt.edu</string>
		<key>Phone</key>
		<string>(804) 385-2177</string>
		<key>Name</key>
		<string>Shutt, Matthew</string>
	</dict>
	<key>09</key>
	<dict>
		<key>Photo</key>
		<string>downs-carla.png</string>
		<key>Position</key>
		<string>Undergraduate Liaison</string>
		<key>Email</key>
		<string>carlad11@vt.edu</string>
		<key>Phone</key>
		<string>(540) 846-6815</string>
		<key>Name</key>
		<string>Downs, Carla</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Photo</key>
		<string>cindrich-zvonko.png</string>
		<key>Position</key>
		<string>Conference Chair</string>
		<key>Email</key>
		<string>zzvonko@vt.edu</string>
		<key>Phone</key>
		<string>(540) 553-2207</string>
		<key>Name</key>
		<string>Cindrich, Zvonko</string>
	</dict>
	<key>Dalipi, Halil</key>
	<dict>
		<key>Photo</key>
		<string>dalipi-halil.png</string>
		<key>Position</key>
		<string>Conference Committee</string>
		<key>Email</key>
		<string>hdalipi@vt.edu</string>
		<key>Phone</key>
		<string>(540) 314-5126</string>
		<key>Name</key>
		<string>Dalipi, Halil</string>
	</dict>
	<key>Jones, Carley</key>
	<dict>
		<key>Photo</key>
		<string>jones-carley.png</string>
		<key>Position</key>
		<string>Conference Committee</string>
		<key>Email</key>
		<string>cjones6@vt.edu</string>
		<key>Phone</key>
		<string>(540) 229-7193</string>
		<key>Name</key>
		<string>Jones, Carley</string>
	</dict>
	<key>Bartholomew, Paul</key>
	<dict>
		<key>Photo</key>
		<string>paul.png</string>
		<key>Position</key>
		<string>Conference Committee</string>
		<key>Email</key>
		<string>prbart93@vt.edu</string>
		<key>Phone</key>
		<string>(703) 554-5879</string>
		<key>Name</key>
		<string>Bartholomew, Paul</string>
	</dict>
	<key>Fenninger, John</key>
	<dict>
		<key>Photo</key>
		<string>fenninger-john.png</string>
		<key>Position</key>
		<string>Conference Committee</string>
		<key>Email</key>
		<string>johnf7@vt.edu</string>
		<key>Phone</key>
		<string>(703) 785-9698</string>
		<key>Name</key>
		<string>Fenninger, John</string>
	</dict>
	<key>Foster, John</key>
	<dict>
		<key>Photo</key>
		<string>foster-john.png</string>
		<key>Position</key>
		<string>Conference Committee</string>
		<key>Email</key>
		<string>jmfoster@vt.edu</string>
		<key>Phone</key>
		<string>(484) 798-7920</string>
		<key>Name</key>
		<string>Foster, John</string>
	</dict>
</dict>
</plist>
