<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Friday</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Event</key>
			<string>Registration</string>
			<key>Time</key>
			<string>3:00pm - 6:00pm</string>
			<key>Description</key>
			<string>Students and company representatives will check-in and receive all necessary paperwork and gifts.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Event</key>
			<string>Networking Reception</string>
			<key>Time</key>
			<string>6:00pm - 6:30pm</string>
			<key>Description</key>
			<string>Students and other attendees from all schools and companies are invited to socialize in the ballroom of The Inn at Virginia Tech.</string>
			<key>Location</key>
			<string>The Inn At Virginia Tech, Ballroom</string>
		</dict>
		<key>2</key>
		<dict>
			<key>Event</key>
			<string>Icebreaker</string>
			<key>Time</key>
			<string>6:30pm - 7:00pm</string>
			<key>Description</key>
			<string>An event will be carried out to get students acclimated to each other and encourage networking.</string>
			<key>Location</key>
			<string>The Inn At Virginia Tech</string>
		</dict>
		<key>3</key>
		<dict>
			<key>Event</key>
			<string>Dinner</string>
			<key>Time</key>
			<string>7:00pm-8:30pm</string>
			<key>Description</key>
			<string>A meal will be catered by The Inn at Virginia Tech and will last about an hour.</string>
			<key>Location</key>
			<string>The Inn At Virginia Tech</string>
		</dict>
		<key>4</key>
		<dict>
			<key>Event</key>
			<string>Keynote Speaker</string>
			<key>Time</key>
			<string>8:30pm - 9:30pm</string>
			<key>Description</key>
			<string>An hour block is set aside for a speaker to introduce students to the conference and set the tone for the weekend. </string>
			<key>Location</key>
			<string>The Inn At Virginia Tech</string>
		</dict>
	</dict>
	<key>Saturday</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Event</key>
			<string>Breakfast</string>
			<key>Time</key>
			<string>8:00am - 9:00am</string>
			<key>Description</key>
			<string>A meal will be catered by The Inn at Virginia Tech and will last about an hour.</string>
			<key>Location</key>
			<string>The Inn At Virginia Tech</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Event</key>
			<string>Technical Paper Competition</string>
			<key>Time</key>
			<string>9:00am - 10:30am</string>
			<key>Description</key>
			<string>Students are invited to submit and present their IE-related research papers.</string>
			<key>Location</key>
			<string>The Inn At Virginia Tech</string>
		</dict>
		<key>2</key>
		<dict>
			<key>Event</key>
			<string>Session 1</string>
			<key>Time</key>
			<string>10:40am - 11:40am</string>
			<key>Description</key>
			<string>Sessions include: 
1. Break-out Sessions will commence and be carried out according to the student&apos;s preferences. 
2. Panels of company representatives, IE alumni, and other post-graduates will gather to speak about IE as a profession, graduate school, and post-graduate life. 
3. Six Sigma information session about its meaning and the steps necessary to acquiring certifications. </string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>3</key>
		<dict>
			<key>Event</key>
			<string>Session 2</string>
			<key>Time</key>
			<string>11:25am - 12:25pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>4</key>
		<dict>
			<key>Event</key>
			<string>Session 3</string>
			<key>Time</key>
			<string>12:35pm - 1:35pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>5</key>
		<dict>
			<key>Event</key>
			<string>Lunch</string>
			<key>Time</key>
			<string>1:35pm-2:30pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>6</key>
		<dict>
			<key>Event</key>
			<string>Career Fair</string>
			<key>Time</key>
			<string>2:30pm - 4:00pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>7</key>
		<dict>
			<key>Event</key>
			<string>Case Competition </string>
			<key>Time</key>
			<string>4:00pm - 6:00pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>8</key>
		<dict>
			<key>Event</key>
			<string>Dinner</string>
			<key>Time</key>
			<string>6:30pm - 7:30pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>9</key>
		<dict>
			<key>Event</key>
			<string>Keynote Speaker</string>
			<key>Time</key>
			<string>7:30pm - 8:30pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
	</dict>
	<key>Sunday</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Event</key>
			<string>Break</string>
			<key>Time</key>
			<string>8:00am - 9:00am</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Event</key>
			<string>Technical Paper Competition</string>
			<key>Time</key>
			<string>9:00am - 10:00am</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>2</key>
		<dict>
			<key>Event</key>
			<string>Plant Tour</string>
			<key>Time</key>
			<string>10:00am - 12:00pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh</string>
		</dict>
		<key>3</key>
		<dict>
			<key>Event</key>
			<string>Alumni Panel(s)</string>
			<key>Time</key>
			<string>12:30pm - 1:30pm</string>
			<key>Description</key>
			<string>Placeholder text blah blah blah description will be inserted here.</string>
			<key>Location</key>
			<string>Virginia Tech... duh.....</string>
		</dict>
	</dict>
</dict>
</plist>
